
:root {
    --clr: #000;
}
.navigation {
    width: 35vw;
    height: 70px;
    top: 35px;
    background-color: rgba(10, 87, 228, 0.836);
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    border-radius: 10px;
    font-size: 14pt;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
    width: 280px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;  
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .5s ease-in-out;
    color: #fff;
}
.navigation ul li.active a .icon {
    transform: translateY(-32px);
}
.navigation ul li a .text {
    width: 60%;
    position: absolute;
    color: #fff;
    font-size: 0.9em;
    opacity: 0;
    letter-spacing: 0.05em;
    text-align: center;
    transition: .5s ease-in-out;
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}
.indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #29c1fd;
    top: -50%;
    border-radius: 50%;
    border: 5px solid var(--clr);
    transition: .5s ease-in-out;
}
.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 61px;
    border-top-right-radius: 20px;
    width: 21px;
    height: 20px;
    background: transparent;
    box-shadow: 0 -10px 0 0 var(--clr);
}
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    border-top-left-radius: 20px;
    width: 21px;
    height: 20px;
    background: transparent;
    box-shadow: 0 -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(7% * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(100% * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(100% * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(100% * 3));
}

@media screen and (max-width: 680px) {
    .navigation {
        width: 95vw;
    }
    .indicator::before {
        content: none;
    }
    .indicator::after {
        content: none;
    }
  }