* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#contacts {
  background-color: rgba(48, 243, 65, 0.705);
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 15px;
  transition: all 0.6s ease-in-out;
}
#formEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
#msg {
  font-size: 12pt;
  margin: 10px;
  width: 30em;
  height: 14em;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 12px;
  font-family: "Saira Condensed", sans-serif;
}
.inputField {
  border-radius: 12px;
  font-family: "Saira Condensed", sans-serif;
  outline: none;
  border: none;
  width: 40%;
  height: 40px;
  padding: 8px;
  font-size: 12pt;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}
.inputField:hover,
#msg:hover {
  box-shadow: 0 0 10px 1px rgb(3, 3, 207);
}
#submit {
  width: 10%;
  height: 40px;
  font-family: "Saira Condensed", sans-serif;
  font-size: 14pt;
  border-radius: 12px;
  border: none;
  background-color: rgb(3, 57, 207);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#submit:hover {
  background-color: #fff;
  color: rgb(3, 57, 207);
}

@media screen and (max-width: 680px) {
  #contacts {
    width: 100%;
  }
  .inputField,
  #msg {
    width: 80%;
  }
  #msg{
    height: 20vh;
  }
  #submit {
    width: 20%;
  }
}
